
# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# Virtual environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Distribution / build
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# IDE / editors
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db